<h1>Here are all the Tasks:</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= check_box("tag", tag.id, {checked: task.completed})%>  <%= link_to task.title, task_path(task) %></li>
  <% end  %>
</ul>

<ul>
  <li><%= link_to "+ Add a new Task", tasks_new_path %></li>
</ul>

